<div class="center jumbotron">
  <h1><small>Witamy w aplikacji</small></h1>
  <h1>Flatmate Helper</h1>

  <br/>
  <%= link_to "Załóż konto teraz!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
