<% provide(:title, "Mieszkanie") %>

<h1>Twoje mieszkanie</h1>

<p>
  <strong>Adres:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>Całkowite opłaty:</strong>
  <%= @flat.total_charges %>
</p>

<% if current_flatmate.admin? %>
  <%= link_to 'Edytuj', edit_flat_path(@flat.id) %> | 
<% end %>
<%= link_to 'Wróć', root_path %>
