<% provide(:title, "Mieszkanie") %>

<p>
  <strong>Adres:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>Całkowite opłaty:</strong>
  <%= @flat.total_charges %>
</p>


<%= link_to 'Wróć', flats_path %>
