<li>
  <%= link_to flatmate.firstname, flatmate %>
  <% if current_flatmate.admin? && !current_flatmate?(flatmate) %>
    | <%= link_to "Usuń", flatmate, method: :delete,
                                  data: { confirm: "Czy na pewno chcesz usunąć?" } %>
  <% end %>
</li>
