<div align="center">
  <h4>
  Architektura Serwisów Internetowych
  </h4>
</div>
</br>
<div class="center jumbotron">
   <h3>O aplikacji</h3>
   <h3>Flatmate Helper</h3>
</div>


<p>

  <div align="center">
    Aplikacja przeznaczona dla współlokatorów, ułatwiająca zarządzanie mieszkaniem, dzielenie się obowiązkami, wymianę informacji o opłatach
  </div>

  <br>

  <h4>
    <b>Autorzy:</b>
    <ul>
        <li>Dariusz Buszman</li>
        <li>Klaudia Pałkowska</li>
        <li>Aneta Stypa</li>
        <li>Marta Walczak</li>
    </ul>
  </h4>



</p>
